<div class="section-content">
    <h2>About</h2>
    <p>Get to know our team members</p>
    
    <div class="cards-container">
        <div class="member-card">
            <div class="avatar-placeholder">
                <img src="../../static/img/ryan_mugshot_lol.jpg" alt="I suck at photos" class="avatar-about">
            </div>
            <h3 class="member-name">Ryan Wang</h3>
            <p class="member-title">Undergrad Student</p>
            <p class="member-description">
                "I just think Web Dev is kinda neat."
            </p>
            <div class="contact-info">
                <div class="contact-item">
                    <i class="fa-solid fa-envelope"></i>
                    <span>rwryanwang@email.com</span>
                </div>
                <div class="contact-item">
                    <i class="fa-solid fa-phone"></i>
                    <span>+1 (669) 309-5754</span>
                </div>
            </div>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/ryan-wang-b97599254/" 
                   target="_blank"
                   rel="noopener noreferrer"
                   class="social-link">
                    <i class="fa-brands fa-linkedin"></i>
                    LinkedIn
                </a>
                <a href="https://github.com/WangRyan408" 
                   target="_blank" 
                   class="social-link"
                   rel="noopener noreferrer">
                    <i class="fa-brands fa-github"></i>
                    GitHub
                </a>
            </div>
        </div>

        <div class="member-card">
            <div class="avatar-placeholder">
                <img src="../../static/img/andrew.jpg" alt="chilllinnnn" class="avatar-about">
            </div>
            <h3 class="member-name">Andrew Arochukwu</h3>
            <p class="member-title">Future NBA player</p>
            <p class="member-description">
                "I think Kevin Durant is the greatest basketball player of all time."
            </p>
            <div class="contact-info">
                <div class="contact-item">
                    <i class="fa-solid fa-envelope"></i>
                    <span>andrewarochukwu@gmail.com</span>
                </div>
                <div class="contact-item">
                    <i class="fa-solid fa-phone"></i>
                    <span>+1 (234) 567-8910</span>
                </div>
            </div>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/acarochu/" 
                   target="_blank"
                   rel="noopener noreferrer"
                   class="social-link">
                    <i class="fa-brands fa-linkedin"></i>
                    LinkedIn
                </a>
                <a href="https://github.com/aarochuk" 
                   target="_blank" 
                   class="social-link"
                   rel="noopener noreferrer">
                    <i class="fa-brands fa-github"></i>
                    GitHub
                </a>
            </div>
        </div>

        <div class="member-card">
            <div class="avatar-placeholder">
                <img src="../../static/img/azam_picture.png" alt="Azam" class="avatar-about"></img>
            </div>
            <h3 class="member-name">Azam Jawad Butt</h3>
            <p class="member-title">Undergraduate Computer Science Student</p>
            <p class="member-description">
               "I am very passionate about designing and building software!"
            </p>
            <div class="contact-info">
                <div class="contact-item">
                    <i class="fa-solid fa-envelope"></i>
                    <span>azamjb123@gmail.com</span>
                </div>
                <div class="contact-item">
                    <i class="fa-solid fa-phone"></i>
                    <span>+1 (647) 891 6836</span>
                </div>
            </div>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/azamjb/" class="social-link">
                    <i class="fa-brands fa-linkedin"></i>
                    LinkedIn
                </a>
                <a href="https://github.com/azamjb" class="social-link">
                    <i class="fa-brands fa-github"></i>
                    GitHub
                </a>
            </div>
        </div>
    </div>
</div> 
