<div class="section-content">
    <h2>Hobbies</h2>
    <p>Personal interests and passions</p>
    
    <div class="person-hobbies-card">
        <div class="hobbies-profile">
            <div class="profile-avatar">
                <img src="../../static/img/ryan_mugshot_lol.jpg" alt="I suck at photos" class="avatar-hobbies">
            </div>
            <div class="profile-info">
                <h3 class="profile-name">Ryan Wang</h3>
                <p class="profile-title">Full Stack Developer</p>
            </div>
        </div>
        
        <div class="hobbies-grid">
            <div class="hobby-card">
                <div class="hobby-image-placeholder">
                    <img src="../../static/img/waugh_lake.jpg" alt="Waugh Lake" class="hobby-photos">
                </div>
                <h4 class="hobby-title">Hiking</h4>
                <p class="hobby-description">Love exploring trails and capturing scenic views.</p>
            </div>
            
            <div class="hobby-card">
                <div class="hobby-image-placeholder">
                    <img src="../../static/img/sc2.jpg" alt="Wings of Liberty Box Art" class="hobby-photos">
                </div>
                <h4 class="hobby-title">Gaming</h4>
                <p class="hobby-description">I love playing RTS, FPS, and RPG games!</p>
            </div>
            
            <div class="hobby-card">
                <div class="hobby-image-placeholder">
                    <img src="../../static/img/shaksuka.jpg" alt="Some Shaksuka" class="hobby-photos">
                </div>
                <h4 class="hobby-title">Cooking</h4>
                <p class="hobby-description">Love min-maxing nutrition and flavor!</p>
            </div>
        </div>
    </div>

    <div class="person-hobbies-card">
        <div class="hobbies-profile">
            <div class="profile-avatar">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="profile-info">
                <h3 class="profile-name">Andrew Arochukwu</h3>
                <p class="profile-title">Future NBA Player</p>
            </div>
        </div>
        
        <div class="hobbies-grid">
            <div class="hobby-card">
                <div class="hobby-image-placeholder">
                    <i class="fa-solid fa-image"></i>
                </div>
                <h4 class="hobby-title">Insert stuff here.</h4>
                <p class="hobby-description">Insert stuff here.</p>
            </div>
            
            <div class="hobby-card">
                <div class="hobby-image-placeholder">
                    <i class="fa-solid fa-image"></i>
                </div>
                <h4 class="hobby-title">Insert stuff here.</h4>
                <p class="hobby-description">Insert stuff here.</p>
            </div>
            
            <div class="hobby-card">
                <div class="hobby-image-placeholder">
                    <i class="fa-solid fa-image"></i>
                </div>
                <h4 class="hobby-title">Insert stuff here.</h4>
                <p class="hobby-description">Insert stuff here.</p>
            </div>
        </div>
    </div>

    <div class="person-hobbies-card">
        <div class="hobbies-profile">
            <div class="profile-avatar">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="profile-info">
                <h3 class="profile-name">Azam Jawad Butt</h3>
                <p class="profile-title">Undergraduate Computer Science Student</p>
            </div>
        </div>
        
        <div class="hobbies-grid">
            <div class="hobby-card">
                <div class="hobby-image-placeholder">
                    <i class="fa-solid fa-image"></i>
                </div>
                <h4 class="hobby-title">Insert stuff here.</h4>
                <p class="hobby-description">Insert stuff here.</p>
            </div>
            
            <div class="hobby-card">
                <div class="hobby-image-placeholder">
                    <i class="fa-solid fa-image"></i>
                </div>
                <h4 class="hobby-title">Insert stuff here.</h4>
                <p class="hobby-description">Insert stuff here.</p>
            </div>
            
            <div class="hobby-card">
                <div class="hobby-image-placeholder">
                    <i class="fa-solid fa-image"></i>
                </div>
                <h4 class="hobby-title">Insert stuff here.</h4>
                <p class="hobby-description">Insert stuff here.</p>
            </div>
        </div>
    </div>
</div> 